*.dll
*~
*.py[cod]
*.o
.ropeproject
build
dist
MANIFEST
*.h5
*.fits
files.txt
.ipynb_checkpoints
*.ipynb
*.csv
*.npy
qcamera/test.json
util/header.h
util/outfile.py
docs/_build
*.orig
viewer.json
*.egg-info